@import './variables.scss';
.adv-sect-cont {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.adv-cont {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	padding-block: 100px;
}
.adv-l {
	background-color: var(--black);
}
.adv-text-cont {
	width: min(80vw, 600px);
	padding-block: 20px;
	h2 {
		text-align: center;
		color: var(--orange);
	}
}
.adv-img {
	object-fit: cover;
	width: min(80vw, 600px);
	position: relative;
	left: -0.35rem;
}
.adv-r .adv-img {
	box-shadow: 0.7rem -0.7rem 0px #c8702b;
}
.adv-l .adv-img {
	box-shadow: -0.7rem -0.7rem 0px #c8702b;
}
@media only screen and (min-width: 1100px) {
	.adv-cont {
		padding: 250px 20px;
	}
	.adv-text-cont {
		width: clamp(400px, 40vw, 600px);
		padding-inline: 20px;
	}
	.adv-r {
		flex-direction: row;
	}
	.adv-l {
		flex-direction: row-reverse;
	}
}
