.header {
	overflow: hidden;
	width: 100%;
}
.header-cont {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: calc(10px + 5vw);
	position: relative;
	z-index: 1;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
}
.header-logo {
	width: calc(200px + 15vw);
	height: auto;
}
.header-img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	object-fit: cover;
	object-position: bottom 50% right 5%;
	height: 100vh;
	filter: brightness(50%);
}
@media only screen and (max-width: 1000px) {
	.header {
		font-size: 18px;
	}
	h1 {
		font-size: 2rem;
	}
}
@media only screen and (max-width: 400px) {
	.header {
		font-size: 16px;
	}
	h1 {
		font-size: 1.5rem;
	}
}
