@import './variables.scss';
.nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 5;
	min-height: 70px;
}
.nav-cont {
	justify-content: space-around;
	align-items: center;
	gap: 30px;
	padding: 15px 30px;
	li {
		padding: 5px;

		&:hover a {
			color: var(--orange);
		}
	}
}
.menu-button {
	svg {
		fill: var(--white);
		width: 60px;
		height: 60px;
	}
}
@media only screen and (min-width: 701px) {
	.menu-button {
		display: none;
	}
}
@media only screen and (max-width: 700px) {
	.nav {
		width: 100%;
		position: fixed;
		// background-color: var(--grey-op);
	}
	.nav-cont {
		flex-direction: column;
	}
	.menu-button {
		position: absolute;
		top: 0;
		right: 0;
	}
}
